*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
 display: inline;
 vertical-align: middle;
}
.titolo{
    display: inline-block;
    vertical-align: middle;
}

main {
    background-color:brown
}

.bottom {
    background-color: blue;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

ul {
    margin-bottom: 40px;
    margin-left: 40px;
}
li{
    list-style-type: none;
}

.paragrafo::before {
    content: "\25BC";
    font-size: 10px;
    
}

.paragrafo {
    font-size: 20px;
}

.do::before {
 content: "\2713";
 color: lightgreen;
 border: 2px solid lightgreen;
 border-radius: 100%;
}

.not::before {
    content: "\0078";
    color: red;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 100%;
}

.editorial::after {
    content: editorial;
    color: blue;
}



